* {
    box-sizing: border-box;
}

body {
    color: #000;
}

body.night {
    background-color: rgba(32, 32, 32, 0.76);
    color: #ffffff;
}
body.day {
    background-color: #ececd5;
    color: #202020;
}

.container {
    max-width: 1280px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: auto;
}

.main__info {
    padding: 0 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.info {
    max-width: 500px;
}

.header__main-info {
    text-align: center;
}

.header__name {
    margin-bottom: 20px;
}

.header__name h1 {
    font-size: 28px;
}

.header__role {
    font-size: 22px;
}

.intro {
    padding-left: 20px;
    margin-top:20px;
    max-width: 500px;
    display: flex;
    font-size: 18px;
    line-height: 24px;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    padding: 20px;
}

.contact h1, p{
    margin-bottom: 20px;
}
