* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    outline: none;
    border: none;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000;
}

body.night {
    background-color: rgba(32, 32, 32, 0.76);
    color: #ffffff;
}
body.day {
    background-color: #ececd5;
    color: #202020;
}

.container {
    max-width: 100%;
    height: 100%;
    line-height: 22px;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: auto;
}

.header__main-info {
    text-align: center;
}

.header__name {
    margin-bottom: 20px;
}

.header__name h1 {
    font-size: 28px;
}

.header__role {
    font-size: 22px;
}


.main__info {
    padding: 0 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.info {
    max-width: 500px;
    text-align: center;
}

.intro {
    padding-left: 20px;
    margin-top:20px;
    max-width: 500px;
    display: flex;
    font-size: 18px;
    line-height: 24px;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    padding: 20px;
}

.contact h1, p{
    margin-bottom: 20px;
}
